<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px">
  <a
    routerLink="/dashboard"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-decoration-none"
  >
    <img src="assets/images/logo.png" alt="Spring Store logo" />
    <span class="fs-4">Spring Store</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/" class="nav-link text-black" aria-current="page">
        <i class="fa-solid fa-cart-shopping me-2"></i>
        Store Page
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard"
        routerLinkActive="active text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-dark"
      >
        <i class="fa-solid fa-gauge me-2"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a
        routerLink="/dashboard/products"
        routerLinkActive="active text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-dark"
      >
        <i class="fa-solid fa-table me-2"></i>
        Product Management
      </a>
    </li>
  </ul>
</div>
