<div class="product-section section section-padding">
  <div class="container">
    <div class="row">
      <div class="section-title text-center col mb-30">
        <h1>Popular Products</h1>
        <p>All popular product find here</p>
      </div>
    </div>

    <div class="row mbn-40">
      @for (product of products; track product._id) {
      <div class="col-xl-3 col-lg-4 col-md-6 col-12 mb-40">
        <div class="product-item">
          <div class="product-inner">
            <div class="image">
              <img [src]="product.image" alt="Image" />
              <div class="image-overlay">
                <div class="action-buttons">
                  <button>add to cart</button>
                  <button>add to wishlist</button>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="content-left">
                <h4 class="title">
                  <a [routerLink]="['products', product._id]">
                    {{ product.title }}
                  </a>
                </h4>

                <div class="ratting">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-half-o"></i>
                  <i class="fa fa-star-o"></i>
                </div>

                <h5 class="size">
                  Size: <span>S</span><span>M</span><span>L</span
                  ><span>XL</span>
                </h5>
                <h5 class="color">
                  Color: <span style="background-color: #ffb2b0"></span
                  ><span style="background-color: #0271bc"></span
                  ><span style="background-color: #efc87c"></span
                  ><span style="background-color: #00c183"></span>
                </h5>
              </div>

              <div class="content-right">
                <span class="price">${{ product.price }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
